<div class="pricing">
  <div class="pricing-plan">
    <h2><i class="fas fa-leaf"></i>Lite</h2>
    <p class="exp">Perfect to get started</p>
    <p class="yearly-price">
      <span class="dolar">$</span><span>11</span> per seat/ month
    </p>
    <p class="monthly-price">
      <span class="dolar">$</span><span>15</span> per seat/ month
    </p>
    <a href="#">Try 7 days for free</a>
    <ul>
      <li><h5>Lite Includes:</h5></li>
      <li><i class="fas fa-check"></i>CMS Integration</li>
      <li><i class="fas fa-check"></i>E mail & SMS reminders</li>
      <li><i class="fas fa-check"></i>Customer Support 24/7</li>
    </ul>
    <div class="seeall">
      <p>See all features</p>
    </div>
  </div>
  <div class="pricing-plan">
    <h2><i class="fas fa-robot"></i>Pro</h2>
    <p class="exp">Best for professionals</p>
    <p class="yearly-price">
      <span class="dolar">$</span><span>19</span> per seat/ month
    </p>
    <p class="monthly-price">
      <span class="dolar">$</span><span>25</span> per seat/ month
    </p>
    <a href="#">Get Started</a>
    <ul>
      <span class="Pro feature">POPULAR</span>
      <li><h5>Everything in Lite, plus:</h5></li>
      <li><i class="fas fa-check"></i>Advanced Analytics</li>
      <li><i class="fas fa-check"></i>100+ Integrations</li>
      <li><i class="fas fa-check"></i>Chat Widget</li>
      <li><i class="fas fa-check"></i>Templates Library</li>
    </ul>
    <div class="seeall"><p>See all features</p></div>
  </div>
  <div class="pricing-plan">
    <h2><i class="fas fa-bolt"></i>Ultimate</h2>
    <p class="exp">Toolset for hard players</p>
    <p class="yearly-price">
      <span class="dolar">$</span><span>35</span> per seat/ month
    </p>
    <p class="monthly-price">
      <span class="dolar">$</span><span>40</span> per seat/ month
    </p>
    <a href="#">Get Started</a>
    <ul>
      <li><h5>Everything in Pro, plus:</h5></li>
      <li><i class="fas fa-check"></i>Daily performance reports</li>
      <li><i class="fas fa-check"></i>Dedicated assistant</li>
      <li>
        <i class="fas fa-check"></i>Artifical Intelligence
        <span class="feature">BETA</span>
      </li>
      <li><i class="fas fa-check"></i>Marketing toos & automations</li>
    </ul>

    <div class="seeall">
      <p>See all features</p>
    </div>
  </div>
</div>
