<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th>Overview</th>
        <th>Lite</th>
        <th>Pro</th>
        <th>Ultimate</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>CMS Integration</td>
        <td data-label="Lite"><i class="fas fa-check"></i></td>
        <td data-label="Pro"><i class="fas fa-check"></i></td>
        <td data-label="Ultimate"><i class="fas fa-check"></i></td>
      </tr>
      <tr>
        <td>Advanced Analytics</td>
        <td data-label="Lite"></td>
        <td data-label="Pro"><i class="fas fa-check"></i></td>
        <td data-label="Ultimate"><i class="fas fa-check"></i></td>
      </tr>
    </tbody>
  </table>
</div>
