.table-container {
  padding: 0 15%;
  margin: 40px auto 0;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.table tbody tr:nth-child(1) {
  background-color: #f9fbfc;
}

.table thead tr th {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.35px;
  color: #000;
  opacity: 1;
  padding: 8px;
}
.table thead tr th:nth-child(1) {
  text-align: left;
}
.table tbody tr td:nth-child(1) {
  text-align: left;
}
.table tbody tr td {
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-weight: normal;
  color: #000;
  padding: 8px;
}
.table tr td i {
  color: #5fade1;
}

@media (max-width: 768px) {
  .table thead {
    display: none;
  }
  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table tbody tr td {
    padding-left: 40%;
    text-align: left;
    position: relative;
  }
  .table td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
  }
}
