<header>
  <nav class="navbar">
    <a href="#" class="toggle"><i class="fa fa-reorder"></i></a>
    <a href="#" class="logo"><img src="assets/angular.png" alt="" /></a>
    <div class="left">
      <a href="#" class="item">Product</a>
      <a href="#" class="item">Features</a>
      <a href="#" class="item">Pricing</a>
      <a href="#" class="item">About Us</a>
    </div>
    <div class="right">
      <a href="#" class="item">Log in</a>
      <a href="#" class="item btn">Get Started For Free</a>
    </div>
  </nav>
</header>
